french elections
Barbera (original)
dataverse_files (1).zip
.Rhistory
.ipynb_checkpoints
Barbera/.ipynb_checkpoints
Barbera/obama-tweets.txt
Barbera/romney-tweets.txt
Barbera/bilinsamples-US.rdata
.~lock.Outline.odt#

